html {
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px , se cambian los tamaños para redondear en los REMS**/
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
img {
  max-width: 100%;  
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300; /**Cambia el grosor de las letras**/
}
.centrar-texto {
    text-align: center;
}
.d-block{
    display: block!important;
}
.fs-3rem{
    font-size: 3rem;
}
.fondo-gris {
    background-color: #4b4b4b;
}
.contenido-centrado {
    max-width: 800px;
}
/** Botones **/
.boton {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    display: inline-block; /** Los enlaces tienen un display "inline" por lo que si editamos sus dimensiones no funciona, pero si lo cambiamos a block o inline block si **/
    text-align: center;
    
}
.boton-anuncios {
    background-color:  #995137;

}
.boton-lista-anuncios {
    background-color: #d38901;
    margin-top: 3rem;
}
.negritas-color {
    font-weight: 600;
    color: #d38901;
}

/* Header */
.site-header.inicio {
    background: url(../img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem; /** = 600px **/
}

.logo {
    height: 100px;
    
}
.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem; /** = 30px **/

}
#titulo-pagina {
    color: #ffffff;
}

/* Navegacion */

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;  /** = 20px **/
    margin-right: 2rem; /** = 20px **/
    
}
.navegacion a:hover {
    color: #ffc404;
}

.navegacion a:last-of-type{ /*selecciona el "last" o ultimo elemento en este caso de los enlaces*/
    margin: 0;
}
.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 35rem;
    line-height: 1; /** Interlineado **/
    font-size: 4rem;    
}

/** Iconos Nosotros **/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
} 
.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}
.icono h3 {
    text-transform: uppercase;
}
.icono img {
    width: 7rem;
}
/** Anuncios **/
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.anuncio {
 
    flex-shrink: 0;
    flex-basis: calc(33.3% - 1rem);
    border-style: solid;
    border-color: #B5B5B5;
    border-width: 1px;
    /** border: width style color; ---> Tambien se puede colocar en esta posicion los valores de arriba**/
    background: #dfd6ce;
    margin-bottom: 2rem;
}
.contenido-anuncio {
    padding: 2rem;

}
.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}
.precio {
    color: #d38901;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    font-size: 1.7rem;

}
.ver-catalogo {
    display: flex;
    justify-content: center;
}

/** Contacto Home **/
.imagen-contacto {
    background-image: url(../img/fondus-nublado.png);
    height: 40rem;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    
}
.contenido-contacto {
    flex: 1; /** Factor de crecimiento, detecta cuanto tamaño hay disponible y divide el tamaño en 1 y le asigna ese valor al elemento **/
    color: #ffffff;
}
.contenido-contacto p {
    font-size: 1.8rem;
}
/** Seccion Inferior **/
.seccion-inferior {
    display: flex;
    justify-content: space-between;

}
.blog {
    flex-basis: 60%;
}
.testimoniales {
    flex-basis: calc(40% - 2rem);
}
.entrada-blog {
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    margin-bottom: 2rem;
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}
.imagen-blog img {
    max-width: 40rem;
}
.texto-entrada {
    padding: 0 0 2rem 1rem;
}
.texto-entrada h4 {
    margin: 0;
    line-height: 1.5;
    font-size: 2.5rem;
}
.texto-entrada h4::after {
    content: "";
    display: block;
    width: 12rem;
    height: 0.5rem;
    background-color: #d38901;
    margin-top: 1rem;
} /** Los psudoelementos, no son seleccionables en las paginas. En este caso se lo manipula simplemente para crear una linea **/
.texto-entrada a {
    text-decoration: none;
    color: black;
}
.texto-entrada a:hover {
    color: #d38901;  
}
/** Testimoniales **/
.testimonial {
    background-color: #b87b0b;
    font-size: 2.1rem;
    color: #ffffff;
    font-weight: 500;
    padding: 2rem;
    border-radius: 5%;
}
.testimonial p {
    font-weight: 600;
    font-style: oblique;
    text-align: right;
}
.testimonial blockquote::before{
    content: "";
    background-image: url(/img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote{
    position: relative;
    padding-left: 4rem;
    font-weight: 300;
}
/** Footer **/
.site-footer {
    background-color: #4b4b4b;
    margin-bottom: 0;
}
.copyright {
    margin: 0;
    color: #ffffff;

}
.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
/** INTERNAS **/

/** Nosotros Interna **/
.contenido-nosotros {
    display: flex;
}
.contenido-nosotros p {
    margin-left: 6rem;
}
.contenido-nosotros img {
    margin-left: 3rem;
}
.texto-nosotros {
    padding-left: 3rem;
}
.tiempo-rubro {
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}
.tiempo-rubro::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: #d38901;
    margin-top: 1rem;
}
/** Anuncio-Autos **/
.precio-anuncio  {
    font-size: 3rem;
    margin-bottom: 0;
}
.descripcion-auto {
    border-radius: 1.4%;
    background-color: #e7e6e6;
    margin-bottom: 2rem;
    padding: 3rem;
}
.principal-anuncio img { 
    width: 100%;
}

/** Contacto **/
label {
    display: block;
}
